<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="http://localhost:8190/ordering-food-application/css/styles.css"/>
    <title>Order your food online!</title>
</head>
<body>
<nav class="navbar bg-dark border-bottom border-body text-white" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a th:href="@{/}" role="button">
                <i class="bi bi-house-door-fill fs-4 mx-3"></i>
            </a>
            <h5 class="mb-0">Order your food online!</h5>
        </div>
        <div class="container-right">
            <div th:if="${isAuthenticated == false}">
                <a th:href="@{/login}" class="btn btn-primary me-2" role="button">Log in</a>
                <button class="btn btn-primary me-2" type="button" data-bs-toggle="modal" data-bs-target="#registerTypeModal">Register</button>
            </div>
            <div th:unless="${isAuthenticated == false}">
                <div class="btn-group dropstart">
                    <button class="btn btn-secondary dropdown-toggle p-0 rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>
                        </svg>
                    </button>
                    <ul class="dropdown-menu mx-1">
                        <a th:href="@{/logout}" class="dropdown-item" role="button">Logout</a>
                        <a th:if="${user.role.name == 'CUSTOMER'}" th:href="@{/customer}" class="dropdown-item" role="button">Your account</a>
                        <a th:if="${user.role.name == 'OWNER'}" th:href="@{/owner}" class="dropdown-item" role="button">Your account</a>
                    </ul>
                </div>
            </div>
            <div class="modal fade" id="registerTypeModal" tabindex="-1" aria-labelledby="registerTypeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="registerTypeModalLabel">Register Account Type</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="form-label">Which account type do you want to create?</p>
                            <br>
                            <a th:href="@{/user/register-customer}" class="btn btn-primary me-2" role="button">Customer
                                Account</a>
                            <a th:href="@{/user/register-business}" class="btn btn-primary me-2" role="button">Business
                                Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<img src="images/index_part1.jpg" alt="image" class="img-fluid">
<form th:action="@{/restaurants}" method="get" th:object="${restaurants}">
    <div class="d-flex justify-content-center bg-index py-3">
        <div class="d-flex align-items-center">
            <div class="input-group input-group">
                <span class="input-group-text">
                    <i class="bi bi-geo-alt-fill" style="font-size: 1.2rem;"></i>
                </span>
                <input class="form-control me-2" type="search" placeholder="Enter city or street" id="searchTerm" name="searchTerm" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row justify-content-evenly my-3">
        <div class="col-8">
            <div class="col" th:each="restaurant : ${restaurants}">
                <a th:href="@{'/restaurants/' + ${restaurant.restaurantEmail}}" class="card bg-body-tertiary text-decoration-none shadow mb-5 rounded">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <img th:src="@{'/image/' + ${restaurant.restaurantEmail} + '?image=CARD'}" class="card-img rounded-pill mx-2" alt="Restaurant image"
                                 style="height: 98px; width: 348px;">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${restaurant.restaurantName}">Restaurant Name</h5>
                                <span class="card-text" th:text="${restaurant.restaurantAddress.addressStreet}">Street</span>,
                                <span class="card-text" th:text="${restaurant.restaurantAddress.postalCode}">Post code</span>
                                <p class="card-text" th:text="${restaurant.restaurantAddress.city}">City</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
<footer class="footer bg-dark py-1">
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="https://www.facebook.com" class="me-3" target="_blank" style="text-decoration: none;">
                <i class="bi bi-facebook" style="font-size: 1.5rem; color: #0866ff;"></i>
            </a>
            <a href="https://www.linkedin.com/in/dariusz-gilewicz-6646bb301" class="me-3" target="_blank" style="text-decoration: none;">
                <i class="bi bi-linkedin" style="font-size: 1.5rem; color: #0a66c2;"></i>
            </a>
            <a href="https://www.github.com/Darus992" class="me-3" target="_blank" style="text-decoration: none;">
                <i class="bi bi-github" style="font-size: 1.5rem; color: white;"></i>
            </a>
        </div>
    </div>
</footer>
</html>